{:paths [:clj-paths :resource-dirs "src/main/clojure"]

 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  org.clojure/tools.deps.alpha {:mvn/version "0.8.678-SNAPSHOT"}
  org.clojure/tools.namespace {:mvn/version "1.0.0"}}

 :aliases
 {:clj-paths ["src/main/clojure"]
  :java-paths ["java" "src/main/java"]
  :resource-paths ["resources"]

;  :build
;  {:extra-deps {org.slf4j/slf4j-nop {:mvn/version "1.7.25"}}
;   :main-opts ["-e" "(require,'[clojure.tools.build,:refer,:all],'[clojure.tools.build.tasks,:refer,:all])(->,(build-info),clean,sync-pom,jar,end)"]}
 }}
